body{
    margin: 0px;
    padding: 0px;
    background-color: #fafafb;
}
body .container-fluid{
    margin: 10px;
    /*margin-bottom: 3%;*/
}
.list{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Raleway', serif;
    margin-left: 0px;
    margin-right: 0px;
    transition: 0.3s;
    padding: 1.5%;
}
.tile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    padding: 0px;
    margin-top: 3%;
    border-radius: 5px;
    width:95%;
}

.animate-box{
    opacity: 0;
}
.view{
    background-color: #fafafb;
    display: inline-block;
    font-family: 'Raleway', serif;
    position: absolute;
    top:40%;
    left:65%;
    text-align: center;
    z-index: 100;
}
.tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;

}
.tile:hover .list {
    border-left:6px solid dodgerblue;

}
.tile:hover img{
    opacity: 0.6;
    transition: 0.3s;
}
.tile img{
    width:100%;
}
.tile:hover .view{
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);

}
.tile.col-sm-12{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10% ;
}
.top-heading{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    padding-bottom: 1.5%;
    color: steelblue;
}
.content-btn{
    font-family: 'Rajdhani', sans-serif;
    color: white;
    background-color:dodgerblue ;
    margin-top: 5%;
    margin-left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

}
.content-btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s;
}
