body{
    margin: 0px;
    padding: 0px;
    background-color: #fafafb;
}
body .container-fluid{

}

.slant{
    overflow: hidden;
    position: absolute;
    left:1px;
    width: 100%;
    height:36vmax;
    z-index: -100;
}
.slant-inner{
    width: 150%;
    height: 36vmax;
    z-index: 1;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-: hidden;
    transform-origin: left bottom;
    transform: rotateZ(-11deg);
}
@media screen and (max-width: 770px ) {
    .slant{
        height: 60vmax;

    }
    .slant-inner{
        height: 60vmax;
        transform: rotateZ(-13deg);
    }
}
.list{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Raleway', serif;
    margin-left: 0px;
    margin-right: 0px;
    transition: 0.3s;
    padding: 1.5%;
}
.tile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    padding: 0px;
    margin-top: 3%;
    border-radius: 5px;
    width:95%;
    background-color: white;
}

.animate-box{
    opacity: 0;
}
.view{
    background-color: #fafafb;
    display: inline-block;
    font-family: 'Raleway', serif;
    position: absolute;
    top:40%;
    left:65%;
    text-align: center;
    z-index: 100;
}
.tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
.tile:hover .list {
    border-left:6px solid dodgerblue;
}
.tile:hover img{
    transform: scale(1.05);
    transition: 0.3s;
}
.tile img{
    width:100%;
}
.tile:hover .view{
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.top-heading{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    padding-bottom: 1.5%;
    color: white;
}
.content-btn{
    font-family: 'Rajdhani', sans-serif;
    color: white;
    background-color:dodgerblue ;
    margin-top: 5%;
    margin-left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

}
.content-btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s;
}
