body{
    margin: 0px;
    padding: 0px;
    background-color: #fafafb;
    overflow-x: hidden;
}
body .container-fluid{
    overflow: hidden;
    padding-bottom: 2%;
    padding-left: 0px;
    padding-right: 0px;
}
.slant{
    overflow: hidden;
    position: absolute;
    left:1px;
    width: 100%;
    height:36vmax;
    z-index: -100;
}
.slant-inner{
    width: 150%;
    height: 36vmax;
    z-index: 1;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-: hidden;
    transform-origin: left bottom;
    transform: rotateZ(-11deg);
}
@media screen and (max-width: 770px ) {
    .slant{
        height: 65vmax;

    }
    .slant-inner{
        height: 65vmax;
        transform: rotateZ(-12.5deg);
    }

}
@media screen and (min-width: 845px){
    .tile01 .col-sm-4{
        width: 32%;
    }
}
.list{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Raleway', serif;
    margin-left: 0px;
    margin-right: 0px;
    transition: 0.3s;
    padding: 1%;
}
.tile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    padding: 0px;
    margin-top: 3%;
    border-radius: 5px;
    width:95%;
    background-color: white;
    margin-left: 0.8%;
}
/*.tile01 .col-sm-4{*/
/*width:32%;*/
/*}*/


.animate-box{
    opacity: 0;
}
.view{
    background-color: #fafafb;
    display: inline-block;
    font-family: 'Raleway', serif;
    position: absolute;
    top:40%;
    left:65%;
    text-align: center;
    z-index: 100;
}
.tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
/*.tile:hover .list {*/
/*border-left:6px solid dodgerblue;*/
/*}*/
/*.tile:hover img{*/
/*transform: scale(1.05);*/
/*transition: 0.3s;*/
/*}*/
.tile img{
    width:100%;
}
.tile:hover .view{
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.top-heading{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    padding-bottom: 1.5%;
    color: white;
}
.content-btn{
    font-family: 'Rajdhani', sans-serif;
    color: white;
    background-color:dodgerblue ;
    margin-top: 5%;
    margin-left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

}
.content-btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s;
}
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
figure {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
.hover01{
    margin-top: 2%;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transform: scale(1);
    transition: 0.3s ease-in-out;
    margin-top: 65%;

}
.effect{
    animation: bounce-in-right 2s infinite;
}
@keyframes bounce-in-right {
    0%,50%,100%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(9px);
    }
    70%{
        transform: translateX(9px);
    }

}
@media (max-width: 768px) {

    .btn-circle.btn-xl {
        width: 40px;
        height: 40px;
        padding: 12px 12px;
        padding-left: 8px;
        font-size: 14px;
        line-height: 1.33;
        border-radius: 35px;
        background-color: whitesmoke;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        margin-top: 8%;
    }
    @keyframes bounce-in-right {
        0%,50%,100%{
            transform: translateX(0);
        }
        30%{
            transform: translateX(5px);
        }
        70%{
            transform: translateX(5px);
        }

    }
}

@media  (min-width: 769px) and (max-width: 992px) {
    .btn-circle.btn-xl {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
        background-color: whitesmoke;
    }
}
.request{
    background:linear-gradient(to left, #EC6EAD, #3494E6);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top:12%;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    color: purple;
}
.request01 h2{
    font-size: 4.5vmax;
    color: whitesmoke;

}
.request button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    color: mediumpurple;
    background-color: white;
}
@media  (max-width: 768px) {
    .request01 h2{
        font-size: 7vmax;
    }
}