<div class="modal fade" tabindex="-1" role="dialog" data-rollback="static" id="my_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetFields();"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Read And Update Country</h3>
            </div>
            <div class="modal-body">
                <h4>Country Details</h4>
                <div class="row">
                    <div class="col-xs-11 col-sm-11 col-md-11">
        <form class="form-horizontal">

            <div class="form-group">
                <label for="countryName" class="col-sm-2 control-label">Country Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="countryName" name="countryName" placeholder=" Country Name" ng-model="Country.countryName">
                </div>
            </div>

            <div class="form-group">
                <label for="noofstud" class="col-sm-2 control-label">Number of Students</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="noofstud" name="noofstud" placeholder="Number of students" ng-model="Country.noofstud">
                </div>
            </div>
            <div class="form-group">
                <label for="intstud" class="col-sm-2 control-label">%Age of International Students</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="intstud" name="intstud" placeholder="%Age of International Students" ng-model="Country.intstud">
                </div>
            </div>
            <div class="form-group">
                <label for="dev" class="col-sm-2 control-label">Developed or Developing</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dev" name="dev" placeholder="" ng-model="Country.dev">
                </div>
            </div>
            <div class="form-group">
                <label for="index" class="col-sm-2 control-label">Happines Index</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="index" name="index" placeholder="Index" ng-model="Country.index">
                </div>
            </div>

            <div class="form-group">
                <label for="lang" class="col-sm-2 control-label">Languages Spoken</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lang" name="lang" placeholder="Languages" ng-model="Country.lang">
                </div>
            </div>
            <div class="form-group">
                <label for="political" class="col-sm-2 control-label"> Political Stability</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="political" name="political" placeholder="Stability" ng-model="Country.political">
                </div>
            </div>
            <div class="form-group">
                <label for="climate" class="col-sm-2 control-label">Climate</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="climate" name="climate" placeholder="Climate" ng-model="Country.climate">
                </div>
            </div>
            <div class="form-group">
                <label for="crime" class="col-sm-2 control-label">Crime Rate or Safety Index</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="crime" name="crime" placeholder="Crime Rate or Safety Index" ng-model="Country.crime">
                </div>
            </div>
            <div class="form-group">
                <label for="disaster" class="col-sm-2 control-label">Natural Disasters Prone </label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="disaster" name="disaster" placeholder="Natural Disasters Prone" ng-model="Country.disaster">
                </div>
            </div>
            <div class="form-group">
                <label for="satisfy" class="col-sm-2 control-label">Student Satisfaction Index</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="satisfy" name="satisfy" placeholder="Student Satisfaction Index" ng-model="Country.satisfy">
                </div>
            </div>
            <div class="form-group">
                <label for="easeSettle" class="col-sm-2 control-label">Ease of Settlement like PR</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ease" name="ease" placeholder="Ease of Settlement like PR" ng-model="Country.ease">
                </div>
            </div>
            <div class="form-group">
                <label for="easeBuiseness" class="col-sm-2 control-label">Ease of doing Buiseness</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="easeBuiseness" name="easeBuiseness" placeholder="Ease of doing Buiseness" ng-model="Country.easeBuiseness">
                </div>
            </div>

            <div class="form-group">
                <label for="expenses" class="col-sm-2 control-label">Expenses for International Students</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="expenses" name="expenses" placeholder="Expenses for International Students" ng-model="Country.expenses">
                </div>
            </div>
            <div class="form-group">
                <label for="best" class="col-sm-2 control-label">Best things about this Country </label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="best" name="best" placeholder="Best things" ng-model="Country.best">
                </div>
            </div>
             <div class="form-group">
                <label for="smoking" class="col-sm-2 control-label">Smoking or Drinking Laws</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="smoking" name="smoking" placeholder="Smoking or Drinking Laws" ng-model="Country.smoking">
                </div>
            </div>
             <div class="form-group">
                <label for="strenght" class="col-sm-2 control-label">Strenght of Currency</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="strenght" name="strenght" placeholder="Strenght of Currency" ng-model="Country.strenght">
                </div>
            </div>
             <div class="form-group">
                <label for="friend" class="col-sm-2 control-label">Student Friendly cities</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="friend" name="friend" placeholder="Student Friendly cities" ng-model="Country.friend">
                </div>
            </div>
             <div class="form-group">
                <label for="cuisines" class="col-sm-2 control-label">Which Cuisines are Available</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="cuisines" name="cuisines" placeholder="Which Cuisines are Available" ng-model="Country.cuisines">
                </div>
            </div>
             <div class="form-group">
                <label for="laws" class="col-sm-2 control-label">Peculiar Laws Any</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="laws" name="laws" placeholder="Laws" ng-model="Country.laws">
                </div>
            </div>
             <div class="form-group">
                <label for="facts" class="col-sm-2 control-label">Unknown Facts</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="facts" name="facts" placeholder="Unknown Facts" ng-model="Country.facts">
                </div>
            </div>
        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="resetFields();">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="doDisable" ng-click="updateCountry();" data-dismiss="modal">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="col-sm-10 col-md-10">
    <div>

        Search: <input type="text" ng-model="search" placeholder="Filter List" ng-click="current();">
    </div>
    <div> No. of records
        <select ng-model="pageSize" id="pageSize" ng-click="paging();">
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                </select>{{roundOff();}}
    </div>
</div>
<br>
<a ng-href="#/addCountry"><button type="button" class="btn btn-success">Add Country</button></a>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="table-responsive">
            <table ng-init="loadData(); resetFields();" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Country Name</th>
                        <th>Operations</th>
                    </tr>

                </thead>

                <tbody>
                    <tr ng-repeat="x in CountryData|filter:search|startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td ng-hide="true">{{x.countryId}}</td>
                        <td>{{x.countryName}}</td>
                        <td><button class="btn btn-info" data-toggle="modal" data-target="#my_modal" ng-click="readCountry($index,true);" type="button"><i class="fa fa-eye"></i></button>&nbsp; &nbsp;<button class="btn btn-success" data-toggle="modal" data-target="#my_modal" ng-click="readCountry($index,false);" type="button"><i class="fa fa-edit"></i></button>&nbsp; &nbsp;<button class="btn btn-danger" ng-click="deleteCountry($index);"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>


            </table>

        </div>
    </div>

</div>

<button type="button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">prev</button> {{currentPage+1}}/{{numberOfPages()}}
<button type="button" ng-disabled="currentPage>=CountryData.length/pageSize  " ng-click="currentPage=currentPage+1">next</button>
